# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on manual dispatch
on:
  push:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  printInputs:
    runs-on: ubuntu-latest
    if: github.event.inputs.tags
    steps:
    - run: echo "github.event_name = ${{ github.event_name }}"
    - run: echo "github.event.action = ${{ github.event.action }}"
    - run: |
        echo "Log level: ${{ join(github.event.*.logLevel) }}"
        echo "Tags: ${{ join(github.event.*.tags) }}"
    - run: |
        echo "Log level: ${{ format('{0}{1}', github.event.client_payload.logLevel, github.event.inputs.logLevel) }}"
        echo "Tags: ${{ format('{0}{1}', github.event.inputs.tags, github.event.client_payload.tags) }}"
    - run: echo "conditional works"
      if: ${{ join(github.event.*.logLevel) }} == "warning"
      
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
